@charset "utf-8";
@import "_reset";
/* body{
	background: red;
} */
$cyan:#00bfa5;
$white:#fff;
$mainBc:#f0f2f1;
body {
	background: #d0d0d0;
}
#content {
	width: 1060px;
	margin: 10px auto 10px;
	border-radius: 4px;
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
#sidebar {
	position: absolute;
	top:0;
	left:0;
	padding: 15px;
	width: 270px;
	height: 100%;
	background: $cyan;
	color: $white;
	.header {
		text-align: center;
		.logo {
		    display: block;
		    margin: 20px auto 15px;
		    width: 120px;
		    height: 120px;
		}
		.name {
		    font-size: 28px;
			font-weight: 400;
		}
		.description {
			font-size: 14px;
		}
	}
	.side {
		padding-top: 20px;
		font-size: 14px;
		line-height: 26px;
		color: $white;
		ul {
			padding-left: 25px;
		}
		.title {
		    font-size: 18px;
		    color: #9f3;
		    line-height: 40px;
		}
		.type {
			float: left;
			width: 30%;
		}
		.bar {
			float: left;
			width: 65%;
			background: #00796b;
			height: 16px;
			margin-top: 2px;
			border-radius: 8px;
			overflow: hidden;
			position: relative;
		}
		.childBar {
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: #fff;
		}
	}
	.note {
		margin-top: 90px;
	    text-indent: 2em;
	    margin-top: 90px;
	    color: #004d40;
	    font-size: 18px;
	}
}
#main {
	float: right;
	width: 720px;
	padding: 15px 20px;
    background: $mainBc;
    color: #616161;
	h2 {
		font-size: 24px;
	    color: #00796b;
	    line-height: 30px;
	    border-bottom: 1px solid #00796b;
	    margin: 0 0 15px -5px;
	    font-weight: normal;
	}
	h3 {
	    font-size: 19px;
	    color: #004d40;
	    margin: 0 0 15px 5px;
	}
	h4 {
	    line-height: 26px;
	    font-size: 18px;
	    bottom: 3px;
	    color: #000;
	}
	.link {
		color: $cyan;
	    font-size: 12px;
	    border: 1px solid #4db6ac;
	    padding: 1px 3px;
	    -webkit-border-radius: 5px;
	    border-radius: 5px;
	    margin-left: 7px;
	}
	.proList {
	    border-left: 2px solid #00796b;
    	margin-left: 15px;
	}
	.proList li {    
		position: relative;
    	top: -5px;
    	margin: 0 0 20px 20px;
	}
	.proDes {
		font-size: 15px;
	    line-height: 22px;
	    margin-bottom: 3px;
   		padding: 5px 0;
	    img {
	    	width: 200px;
	    	max-height: 200px;
	    	margin: 0 10px;
	    }
	}
	.circle {
	    height: 14px;
	    width: 14px;
	    -webkit-border-radius: 100%;
	    border-radius: 100%;
	    background: #00796b;
	    float: left;
	    position: absolute;
	    left: -28px;
	    top: 5px;
	}
	.section {
	    padding-top: 20px;
	}
	.infor {
	    font-size: 15px;
	    line-height: 27px;
	    .title {
    	    color: #000;
    		font-size: 16px;
	    }
	}
}
#footer {
	text-align: center;
	margin: 20px 0;
	a {
		color: #3598d8;
	}
}
#listNav{
	position: fixed;
	top: 50%;
	right: 0;
	margin-top: -80px;
	li{
		margin-bottom: 20px;
		background: #00bfa5;
		overflow: hidden;
	    -webkit-border-radius: 10px 0 0 10px;
	    border-radius: 10px 0 0 10px;
	    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	}
	a {
		display: inline-block;
	    width: 100px;
	    height: 38px;
	    line-height: 38px;
	    padding-left: 10px;
	    color: #fff;
	}
}